{% extends 'layout.html' %}

{% block title %}Home - Real Estate Website{% endblock %}

{% block content %}
<div class="home-header" data-v-e9715000="">
    <h1 class="slogan" data-v-e9715000="">Make Better <br data-v-e9715000=""> Real Estate Decisions</h1>
    <p class="introduction" data-v-e9715000="">Browse 21 years of sales history.<br> Watch new listings, get notified
        when they’re sold.</p>
    <form class="search" data-v-e9715000="">
        <div class="form-input large has-prefix-icon clear home-search-input" data-v-a8e29264="" data-v-e9715000="">
            <!---->
            <div class="input-area" data-v-a8e29264=""
                style="border-radius: 10px; border-color: transparent; height: 56px; z-index: 1;"><!----><svg
                    class="svg-inline--fa fa-magnifying-glass prefix-icon" aria-hidden="true" focusable="false"
                    data-prefix="fas" data-icon="magnifying-glass" role="img" xmlns="http://www.w3.org/2000/svg"
                    viewBox="0 0 512 512" data-v-a8e29264="">
                    <path class="" fill="currentColor"
                        d="M416 208c0 45.9-14.9 88.3-40 122.7L502.6 457.4c12.5 12.5 12.5 32.8 0 45.3s-32.8 12.5-45.3 0L330.7 376c-34.4 25.2-76.8 40-122.7 40C93.1 416 0 322.9 0 208S93.1 0 208 0S416 93.1 416 208zM208 352a144 144 0 1 0 0-288 144 144 0 1 0 0 288z">
                    </path>
                </svg><!----><input type="text" autocomplete="on" placeholder="Address, Street Name or Listing#"
                    aria-label="Address, Street Name or Listing#" data-v-a8e29264=""
                    style="border-radius: 10px;"><!----><!----></div>
        </div><!---->
    </form>
    <div class="home-notification" data-v-e9715000="">
        <div class="notification" data-v-9f4e0024="" data-v-e9715000="">
            <div class="pc-swiper swiper" data-v-78f35f38="" data-v-9f4e0024="">
                <div class="swiper swiper-initialized swiper-horizontal swiper-pointer-events swiper-backface-hidden"
                    data-v-78f35f38="">
                    <div class="swiper-wrapper"
                        style="transition-duration: 300ms; transform: translate3d(-1832px, 0px, 0px);">
                        <div class="swiper-slide pc-swiper-slide" data-v-78f35f38=""
                            style="width: 900px; margin-right: 16px;"><i class="icon" data-v-9f4e0024=""><svg
                                    class="svg-inline--fa fa-bell" aria-hidden="true" focusable="false"
                                    data-prefix="fas" data-icon="bell" role="img" xmlns="http://www.w3.org/2000/svg"
                                    viewBox="0 0 448 512" data-v-9f4e0024="">
                                    <path class="" fill="currentColor"
                                        d="M224 0c-17.7 0-32 14.3-32 32V51.2C119 66 64 130.6 64 208v18.8c0 47-17.3 92.4-48.5 127.6l-7.4 8.3c-8.4 9.4-10.4 22.9-5.3 34.4S19.4 416 32 416H416c12.6 0 24-7.4 29.2-18.9s3.1-25-5.3-34.4l-7.4-8.3C401.3 319.2 384 273.9 384 226.8V208c0-77.4-55-142-128-156.8V32c0-17.7-14.3-32-32-32zm45.3 493.3c12-12 18.7-28.3 18.7-45.3H224 160c0 17 6.7 33.3 18.7 45.3s28.3 18.7 45.3 18.7s33.3-6.7 45.3-18.7z">
                                    </path>
                                </svg></i>
                            <div class="card" data-v-9f4e0024="">Promote your excl. precon assignment on HouseSigma
                                <button data-notification="promote_excl_assignment" title="View" aria-label="View"
                                    class="btn" data-v-9f4e0024="">View</button></div>
                        </div>
                        <div class="swiper-slide swiper-slide-prev pc-swiper-slide" data-v-78f35f38=""
                            style="width: 900px; margin-right: 16px;"><i class="icon" data-v-9f4e0024=""><svg
                                    class="svg-inline--fa fa-bell" aria-hidden="true" focusable="false"
                                    data-prefix="fas" data-icon="bell" role="img" xmlns="http://www.w3.org/2000/svg"
                                    viewBox="0 0 448 512" data-v-9f4e0024="">
                                    <path class="" fill="currentColor"
                                        d="M224 0c-17.7 0-32 14.3-32 32V51.2C119 66 64 130.6 64 208v18.8c0 47-17.3 92.4-48.5 127.6l-7.4 8.3c-8.4 9.4-10.4 22.9-5.3 34.4S19.4 416 32 416H416c12.6 0 24-7.4 29.2-18.9s3.1-25-5.3-34.4l-7.4-8.3C401.3 319.2 384 273.9 384 226.8V208c0-77.4-55-142-128-156.8V32c0-17.7-14.3-32-32-32zm45.3 493.3c12-12 18.7-28.3 18.7-45.3H224 160c0 17 6.7 33.3 18.7 45.3s28.3 18.7 45.3 18.7s33.3-6.7 45.3-18.7z">
                                    </path>
                                </svg></i>
                            <div class="card" data-v-9f4e0024="">Preconstruction Information <button
                                    data-notification="preconstruction_promotion" title="View" aria-label="View"
                                    class="btn" data-v-9f4e0024="">View</button></div>
                        </div>
                        <div class="swiper-slide swiper-slide-active pc-swiper-slide" data-v-78f35f38=""
                            style="width: 900px; margin-right: 16px;"><i class="icon" data-v-9f4e0024=""><svg
                                    class="svg-inline--fa fa-bell" aria-hidden="true" focusable="false"
                                    data-prefix="fas" data-icon="bell" role="img" xmlns="http://www.w3.org/2000/svg"
                                    viewBox="0 0 448 512" data-v-9f4e0024="">
                                    <path class="" fill="currentColor"
                                        d="M224 0c-17.7 0-32 14.3-32 32V51.2C119 66 64 130.6 64 208v18.8c0 47-17.3 92.4-48.5 127.6l-7.4 8.3c-8.4 9.4-10.4 22.9-5.3 34.4S19.4 416 32 416H416c12.6 0 24-7.4 29.2-18.9s3.1-25-5.3-34.4l-7.4-8.3C401.3 319.2 384 273.9 384 226.8V208c0-77.4-55-142-128-156.8V32c0-17.7-14.3-32-32-32zm45.3 493.3c12-12 18.7-28.3 18.7-45.3H224 160c0 17 6.7 33.3 18.7 45.3s28.3 18.7 45.3 18.7s33.3-6.7 45.3-18.7z">
                                    </path>
                                </svg></i>
                            <div class="card" data-v-9f4e0024="">Join Discord Community <button
                                    data-notification="discord" title="View" aria-label="View" class="btn"
                                    data-v-9f4e0024="">View</button></div>
                        </div>
                        <div class="swiper-slide swiper-slide-next pc-swiper-slide" data-v-78f35f38=""
                            style="width: 900px; margin-right: 16px;"><i class="icon" data-v-9f4e0024=""><svg
                                    class="svg-inline--fa fa-bell" aria-hidden="true" focusable="false"
                                    data-prefix="fas" data-icon="bell" role="img" xmlns="http://www.w3.org/2000/svg"
                                    viewBox="0 0 448 512" data-v-9f4e0024="">
                                    <path class="" fill="currentColor"
                                        d="M224 0c-17.7 0-32 14.3-32 32V51.2C119 66 64 130.6 64 208v18.8c0 47-17.3 92.4-48.5 127.6l-7.4 8.3c-8.4 9.4-10.4 22.9-5.3 34.4S19.4 416 32 416H416c12.6 0 24-7.4 29.2-18.9s3.1-25-5.3-34.4l-7.4-8.3C401.3 319.2 384 273.9 384 226.8V208c0-77.4-55-142-128-156.8V32c0-17.7-14.3-32-32-32zm45.3 493.3c12-12 18.7-28.3 18.7-45.3H224 160c0 17 6.7 33.3 18.7 45.3s28.3 18.7 45.3 18.7s33.3-6.7 45.3-18.7z">
                                    </path>
                                </svg></i>
                            <div class="card" data-v-9f4e0024="">Now Hiring REAL ESTATE Agents <button
                                    data-notification="hiring" title="Join Us" aria-label="Join Us" class="btn"
                                    data-v-9f4e0024="">Join Us</button></div>
                        </div>
                        <div class="swiper-slide pc-swiper-slide" data-v-78f35f38=""
                            style="width: 900px; margin-right: 16px;"><i class="icon" data-v-9f4e0024=""><svg
                                    class="svg-inline--fa fa-bell" aria-hidden="true" focusable="false"
                                    data-prefix="fas" data-icon="bell" role="img" xmlns="http://www.w3.org/2000/svg"
                                    viewBox="0 0 448 512" data-v-9f4e0024="">
                                    <path class="" fill="currentColor"
                                        d="M224 0c-17.7 0-32 14.3-32 32V51.2C119 66 64 130.6 64 208v18.8c0 47-17.3 92.4-48.5 127.6l-7.4 8.3c-8.4 9.4-10.4 22.9-5.3 34.4S19.4 416 32 416H416c12.6 0 24-7.4 29.2-18.9s3.1-25-5.3-34.4l-7.4-8.3C401.3 319.2 384 273.9 384 226.8V208c0-77.4-55-142-128-156.8V32c0-17.7-14.3-32-32-32zm45.3 493.3c12-12 18.7-28.3 18.7-45.3H224 160c0 17 6.7 33.3 18.7 45.3s28.3 18.7 45.3 18.7s33.3-6.7 45.3-18.7z">
                                    </path>
                                </svg></i>
                            <div class="card" data-v-9f4e0024="">Sold data updated on: 2024-09-02 <!----></div>
                        </div>
                    </div><!----><!----><!---->
                </div><!----><!---->
            </div>
        </div>
    </div>
</div>


{% endblock %}